.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 30px;
}

.logo {
    display: none;
}

.img-logo{
    height: 45px;
}

ul{
    list-style: none;
    background-color: #333;
}
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active{
    background-color: #a91d04;
}